mat-form-field {
  width: 100%;
}

.inline-dates {
  width: 50%;
}

:host {
  display:flex;
  flex-direction: column;
  height: 100%;
}

mat-dialog-content {
  flex-grow: 1;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

section {
  display: table;
  width: 70%;
}

section > * {
  display: table-row;
}

section .col {
  display: table-cell;
}